body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
}

.quiz-container {
    width: 50%;
    margin: 50px auto;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

button {
    margin: 2rem;
    padding: 10px 15px;
    background-color: #9c99e7;
    color: white;
    cursor: pointer;
    border: #9c99e7 1px solid;
    border-radius: 0.5rem;
}

button:hover {
    background-color: #9c99e7;
}
